
h1{
     font-weight:200px;
     text-align: center;
    font-size:100px;
    color: rgb(255, 255, 255);
}
p{
    
   width: 300px;
   color: rgb(255, 255, 255);
   margin-left:450px;
   margin-top:400px;
   margin-bottom:300px;
 
}
body{
    background-color: rgb(0, 0, 0);
}
